body {
    font-family: 'Press Start 2P', cursive;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.titulo {
    font-size: 36px;
}

.subtitulo {
    font-size: 24px;
}

.instrucao {
    font-size: 18px;
}

.data-horario {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#mensagem {
    margin-top: 20px;
    font-size: 18px;
}

#lista-confirmados {
    margin-top: 40px;
}

#confirmados {
    list-style: none;
    padding: 0;
}

#confirmados li {
    font-size: 20px;
    margin-bottom: 10px;
}
